<br>
<h1 class="display-1 text-center font-weight-bold">संपर्क करे
</h1>
<br>



<div class="container">
    <div class="row">
        <div class="col-sm">

            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री राकेश जैन, </h5>
                    <h6 class="card-title">मुख्य संयोजक</h6>
                    <h6 class="card-title"> +91-8878823456</h6>

                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री प्रमोद जैन हिमांशु</h5>
                    <h6 class="card-title">अध्यक्ष ट्रस्ट एवं पदेन सदस्य</h6>
                    <h6 class="card-title">+91-9425005740</h6>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री महेंद्र अजमेरा
                    </h5>
                    <h6 class="card-title">मंत्री ट्रस्ट एवं पदेन सदस्य
                    </h6>
                    <h6 class="card-title">+91-8889554444</h6>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री देवेंद्र जैन "रूचि"</h5>
                    <h6 class="card-title">वित्त संयोजक</h6>
                    <h6 class="card-title">+91-9303130584</h6>
                </div>
            </div>

            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री मनोज बांगा</h5>
                    <h6 class="card-title">वित्त व्यय सदस्य </h6>
                    <h6 class="card-title">+91-9406542464</h6>
                </div>
            </div>

            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री विनोद चौधरी 'अनुपम'</h5>
                    <h6 class="card-title">वित्त आय सदस्य </h6>
                    <h6 class="card-title">+91-9826050613</h6>
                </div>
            </div>

            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री पंकज जैन 'सुपारी' </h5>
                    <h6 class="card-title">कार्यकारिणी सदस्य </h6>
                    <h6 class="card-title">+91-9425303705</h6>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री आदित्य मनया </h5>
                    <h6 class="card-title">कार्यकारिणी सदस्य
                    </h6>
                    <h6 class="card-title">+91-9826430536</h6>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री राजेश कोयला </h5>
                    <h6 class="card-title">कार्यकारिणी सदस्य</h6>
                    <h6 class="card-title">+91-9425116483</h6>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री जितेंद्र जैन </h5>
                    <h6 class="card-title">कार्यकारिणी सदस्य</h6>
                    <h6 class="card-title">+91-9165888999</h6>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title"> श्री मनोज जैन 'एम के भारत' </h5>
                    <h6 class="card-title">कार्यकारिणी सदस्य </h6>
                    <h6 class="card-title">+91-9425018370</h6>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री सुनील जैन 501 </h5>
                    <h6 class="card-title">कार्यकारिणी सदस्य </h6>
                    <h6 class="card-title">+91-9826616501</h6>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्रीमती रेखा प्रदीप जैन 'नौहरकला'
                    </h5>
                    <h6 class="card-title">कार्यकारिणी सदस्य</h6>
                    <h6 class="card-title">+91-</h6>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-body text-primary">
                    <h5 class="card-title">श्री विनीत गोधा
                    </h5>
                    <h6 class="card-title">कार्यकारिणी सदस्य</h6>
                    <h6 class="card-title">+91-9229001111</h6>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mb-3">
                <img src="https://dl.dropboxusercontent.com/s/wzos6xygll9wqky/temple.jpg?dl=0" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">पता</h5>
                    <p class="card-text">मानसरोवर कॉम्पलेक्स के बगल में, हबीबगंज रेलवे स्टेशन के पास, भोपाल - 462016</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>

                <br>
            </div>
        </div>
        <div class="col-sm">
            <h2>पहुंच मार्ग</h2>
            <p> मोक्षमार्ग तो, भीतर अधिक है, बाहर कम</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14665.87495307476!2d77.4352381!3d23.226024!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe6c7402c80efa2d!2sShri%20Adinath%20Digambar%20Jain%20Temple!5e0!3m2!1sen!2sin!4v1627817605196!5m2!1sen!2sin"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
    </div>