<div class="container-fluid">
    <div class="wrapper">
        <div class="box" id="one">
            <h3>Donation Refund Policy</h3>
        </div>
        <div class="box" id="two">
            <p>We follow a reliable refund policy to let our donors feel privileged about their association with us. We take utmost care about processing donations as per the mandates signed by our donors in the donor forms, both offline and online. But
                in case of an unlikely event of an erroneous deduction or, if the donor wants to cancel/deduct the donation, we will respond within 7 working days from the date of receiving the complaint from the donor. The timely refund of the wrongly
                deduced amount will depend on the type of card used during the transaction. We would require proof of deduction of the donation amount and written communication for a refund from the donor within two days after donation. • In such cases,
                if the receipt already has been issued, then the donor needs to return the original receipt to our official address. • In the case of a tax exemption certificate already issued, a refund will not be possible. Please note that international
                donations will require more working days for a refund.
            </p>
        </div>
    </div>
</div>