<div class="container-fluid">
    <div class="wrapper">
        <div class="box" id="one">
            <h2>Terms & Conditions</h2>
        </div>
        <div class="box" id="two">
            <p>Your use of the https://vidyoday.com website (the “Site”) is governed by the policies, terms, and conditions set forth below. Please read the following information carefully. By using this Site or donating through the site, you indicate your
                acceptance of, and agreement to be bound by, the terms set forth below. If you do not agree to these terms and conditions, please do not use this Site. These terms and conditions may be changed by Shri Digambar Jain Panchayat Committee
                Trust(Regd.) running the website, (referred to hereinafter as The Trust), in the future. It is your responsibility as a user to periodically return to this page to review the terms and conditions for amendments. The amended terms shall
                take effect automatically the day they are posted on the site. Your continued use of the website following any amendments will constitute agreement to such amendments. Your continued usage of the site shall be in acceptance of the terms
                that may be updated in future with retrospective effect. In case you do not agree to any terms your sole remedy is to stop using the website. Copyright.
            </p>

            <p> © 2021, by Shri Digambar Jain Panchayat Committee Trust(Regd.) All rights reserved.</p>
            <p>All content included on this site, such as text, graphics, logos, button icons, images and the compilation of this content is the property of The Trust or its content suppliers. Due to unavailability of certain photographs there may be certain
                pictures which is not the property of The Trust. In case any of the pictures which are not the property of The Trust is violating any of your copyrights than please let us know at the earliest. We shall take the necessary steps once confirmed
                that it is not our property. Any other use, including the reproduction, modification, distribution, transmission, republication, display or performance, of the content on this site is strictly prohibited.</p>
            <p>Donations/payments Through Online Payments Feature on this Site.</p>
            <p>If you wish to donate/pay through the site, you will be asked to supply certain information. We do not accept anonymous donations/payments. You agree that all information that you provide to The Trust will be accurate, complete and current.
                Once you donate/pay, you agree to fully complete and fulfil the obligations that arise out of your participation in donation / payments on the Site. You agree to pay all charges incurred by authorized users of your account and credit card
                or other payment mechanisms at the prices in effect when such charges are incurred, to The Trust, through its Bankers / Credit Card Companies. You will also be responsible for paying any applicable taxes, if any. The Trust currently accepts
                the following through its Online Payment Gateway Facility Donations for various charitable / religious purposes / festivals Donations for Corpus account Please note donations/payments once made cannot be charged back, except in cases of
                fraudulent use, once the investigation is carried out by necessary governmental / Bank authorities and proofs substantiated. In case any donation receipt is issued against the same, that shall stand cancelled, and any income tax benefit
                so derived shall be null and void. Please Note: All donations/payments made through the site, the acceptance of the same is at the sole discretion of the temple management and its trustees. The management reserves its sole rights to accept
                or reject any donation/payment without assigning any reason thereof. Typographical Errors We make every effort to provide you with the most accurate, up-to-the-minute information. Despite our best efforts, a small number of the items on
                our website may be mistyped or may contain some typographical errors, either by us or by our service providers. The Trust will not be responsible for any such errors, and any losses arising out of it thereof
            </p>
        </div>
    </div>
</div>