.bg-primary {
    background-color: #FC5404!important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #FC5404 !important;
}

border-primary {
    background-color: #FC5404 !important;
}

.h1 {
    padding: 35px;
}

.text-center {
    text-align: center!important;
}