<!-- Footer 
<footer class="py-5 bg-dark" style="background-color: #F96D16;">
    <div class="container">
        <p class="m-0 text-center text-black">Copyright &copy; Archit Jain &reg; Shri Adinath Digambar Jain Trikal Chobisi Sahastrakoot Jinalaya Nirman Samiti</p>
    </div>
     /.container 
</footer>
-->
<footer class="panel-footer panel-primary" style="background-color: #F96D16;">
    <div class="container">
        <span class>
            <p class="text-justify text-center text-white">Copyright</p>
            <p class="text-justify text-center text-white"> &copy; Archit Jain </p>
            <p class="text-justify text-center text-white">&reg; Shri Adinath Digambar Jain Trikal Chobisi Sahastrakoot Jinalaya Nirman Samiti</p></span>
    </div>
</footer>