<img src="https://dl.dropboxusercontent.com/s/ex0q8rxpqf4ioq4/main.jpg?dl=0" class="img-fluid" alt="...">


<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">क्षेत्र का मुख्य आकर्षण </h2>
                </div>
            </div>
        </div>
        <br>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dl.dropboxusercontent.com/s/4dssfiyhxads6bc/img1.jpg?dl=0" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3 fw-bolder text-justify">ऐतिहासिक आगवानी </h5>
                        </a>
                        <p class="card-text mb-0 fw-bolder">परम पूज्य संत शिरोमणि आचार्य श्री 108 विद्यासागर जी महाराज ससंघ की वर्ष 2016 में भव्य आगवानी </p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dl.dropboxusercontent.com/s/zdytyqi3m5ynzi9/img3.jpg?dl=0
                    " alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3 fw-bolder"> राष्ट्रपति</h5>

                        </a>
                        <p class="card-text mb-0 fw-bolder">परम पूज्य संत शिरोमणि आचार्य श्री जी के दर्शन हेतु हबीबगंज मंदिर में पधारे माननीय श्री रामनाथ कोविंद जी |
                        </p>
                        <p class="card-text mb-0 fw-bolder">[ वर्तमान में भारत के राष्ट्रपति ]</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dl.dropboxusercontent.com/s/8vk9d5zvwb262ab/img2.jpg?dl=0" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3 fw-bolder">प्रधानमंत्री </h5>
                        </a>
                        <p class="card-text mb-0 fw-bolder"> परम पूज्य आचार्य श्री जी के दर्शन हेतु हबीबगंज मंदिर में पधारे भारत के प्रधानमंत्री माननीय श्री नरेंद्र मोदी जी | </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>



<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">नोटिस बोर्ड </h1>

            <p class="lead">वर्तमान में संत शिरोमणि आचार्य श्रो १०८ विद्यासागर जी महाराज के आज्ञानुवर्ती शिष्य मुनि श्री १०८ संभव सागर जी महाराज ससंघ का चातुर्मास भोपाल के चौक मंदिर में हो रहा है|
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="https://www.google.com/maps/place/Shree+Adinath+Digambar+Jain+Mandir/@23.2594423,77.4017111,15z/data=!4m5!3m4!1s0x0:0x1d7548daf7e853dc!8m2!3d23.258934!4d77.4017143" target="_blank" class="icon-link"> <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">चौक मंदिर की लोकेशन </button></a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="https://dl.dropboxusercontent.com/s/deu9dm6myyyemj8/01sambhavji01.png?dl=0" alt="" width="100%">
        </div>
    </div>
</div>


<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">मंदिर की विशेषताएं </h2>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dl.dropboxusercontent.com/s/wqb4mzgeluwrb6v/WhatsApp%20Image%202021-08-10%20at%2016.27.30%20%289%29.jpeg?dl=0" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3 fw-bolder">पीले पत्थर</h5>
                        </a>
                        <p class="card-text mb-0 fw-bolder">पूर्णताया: पीले पत्थर से निर्मित | </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dl.dropboxusercontent.com/s/0erf6t6wcywbcyu/Untitled%20design%20%2814%29.png?dl=0" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3 fw-bolder"> सदियों के लिए</h5>

                        </a>
                        <p class="card-text mb-0 fw-bolder">पीढ़ी दर पीढ़ी सदियों के लिए धर्म की प्रभावना |</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dl.dropboxusercontent.com/s/s2k3ijrtons6z60/Photo_of_lord_adinath_bhagwan_at_kundalpur.jpg?dl=0" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3 fw-bolder">प्रतिकृति</h5>
                        </a>
                        <p class="card-text mb-0 fw-bolder">मध्यप्रदेश की राजधानी भोपाल की ह्रदयस्थली हबीबगंज में तीर्थक्षेत्र श्री कुण्डलपुर जी, श्री नेमावर जी एवं श्री अमरकंटक जी की प्रतिकृति | </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>






<app-price-table></app-price-table>