<div class="container-fluid">
    <img src="https://dl.dropboxusercontent.com/s/985tzajnc149xja/temple.jpg?dl=0" class="img-fluid rounded mx-auto d-block" alt="...">
    <h1 class="text-center">क्षेत्र परिचय</h1>
    <h3 class="text-center">श्री आदिनाथ दिगम्बर जैन पंचबालयति एवं त्रिकाल चौबीसी जिनालय हबीबगंज भोपाल</h3>
</div>
<div class="container-fluid">
    <ul>
        <li>
            इस युग के ऋषिराज परमपूज्य आचार्य १०८ श्री विद्यासागर जी महा मुनिराज के आशीर्वाद से मध्यप्रदेश की राजधानी भोपाल में नवीन भव्य श्री आदिनाथ दिगम्बर जैन पंचबालयति एवं त्रिकाल चौबीसी जिनालय का निर्माण प्रगति पर है . हबीबगंज भोपाल में स्थित इस मंदिर का निर्माण
            श्री दिगम्बर जैन पंचायत ट्रस्ट चौक भोपाल के द्वारा किया जा रहा है. इस ट्रस्ट के अंतर्गत इस मंदिर के अलावा अनेक प्राचीन मंदिर व धर्मशालाएँ संरक्षित हैं जिनमें भोजपुर , कुराना जी व समसगढ़ के जिनालय सम्पूर्ण देश में प्रसिद्ध हैं |
        </li>
    </ul>
    <ul>
        <li>
            मंदिर जी का परिसर लगभग २ एकड़ भूमि क्षेत्र (९५०००) वर्गफीट में है, जिसमें २१००० वर्गफीट क्षेत्र में मंदिर निर्माणाधीन है. यह एक पांच मंजिला स्वर्ण रंग के पत्थरों से निर्मित भव्य जिनालय १५३ फ़ीट ऊँचा होगा जिसमें निचले तल पर ध्यान केंद्र, प्रथम तल पर मूल
            नायक १००८ भगवान श्री आदिनाथ स्वामी विराजमान होंगे, द्वितीय, तृतीय एवं चतुर्थ तल की वेदियों में पंचबालयति व् त्रिकाल चौबीसी दर्शनीय होगी. मंदिर में एक मुख्य गर्भगृह एवं दो सहायक गर्भगृह हैं . इसके अतिरिक्त एक अति सुन्दर १०८ फिट ऊँचाई का सहस्त्रकूट
            भी साथ होगा. यह भव्य मंदिर नागरादि शैली से निर्मित हो रहा है |
        </li>
    </ul>
    <ul>
        <li>
            इस अनुपम मंदिर के निर्माण की आधारशिला १०८आचार्य भगवन विद्यासागर जी महाराज के सानिध्य में रखी गई. मजबूत पत्थरों के धरातल पर १६ फिट नीव पर १७फिट ऊँचे आधार का निर्माण किया जा चुका है. विश्वप्रसिद्ध आर्किटेक्ट श्री वीरेन्द्र त्रिवेदी जी, जिन्होंने अक्षरधाम
            मंदिर का आर्किटेक्ट किया है, और आचार्य श्री से आशीर्वाद प्राप्त हैं, अपने सहयोगी श्री नीलेश जी के साथ निंरतर ड्राइंग, डिज़ाइन, प्रदान कर रहें हैं , निर्माण कमेटी के सदस्य पूर्ण निष्ठा एवं लगन से मंदिर प्रांगण में कार्यरत शिल्पियों का उत्साह
            वर्धन करते हैं . वर्तमान में खूबसूरत ध्यानकेन्द्र बनकर तैयार है |
        </li>
    </ul>
    <ul>
        <li>
            इस विशाल मंदिर में लगभग ३ लाख घनफिट पत्थरों का उपयोग किया जाना है जिसमे अभी तक लगभग १. ० ८ लाखफ़िट घनफिट कार्य हो चुका है. यह कार्य जैसलमेर (राजस्थान) एवं भुज कच्छ (गुजरात) के पीले पत्थर से अनवरत चल रहा है . पत्थरों की पकड़ आपस में बिना लोहे के, प्राचीन
            तकनीक से की जा रही है. अतिरिक्त पकड़ के लिये ताँबे की छड़ो से एंकर किये जा रहे है. साथ ही शीशम की लकड़ी का उपयोग भी सुंदरता बढ़ाने में किया जा रहा है. मेट्रो ट्रैन एवं एलीवेटेड रोड से को जनसामान्य को आकर्षित करता हुआ यह जिनालय, युगों युगों तक,
            सम्पूर्ण देश में जैनधर्म की प्रभावना को बढ़ाता रहेगा |
        </li>
    </ul>
    <ul>
        <li>
            हम सबके बड़े बाबा मंदिर जी के मूलनायक आदिनाथ भगवन का चमत्कार देखिये कि वर्ष २०१६ में सभी भक्त जनों को अचंभित करते हुए आचार्य श्री विद्यासागर जी महामुनिराज अपने विशाल संघ सहित पावन वर्षा योग का सौभाग्य भोपाल नगर को प्रदान करते हैं. इतने बड़े आचार्य के आगमन
            की खबर से पूरा शहर तथा पूरा प्रदेश खुशियों से धर्ममय हो गया .आचार्य संघ की आगवानी के लिये माननीय मुख्यमंत्री श्री शिवराज सिंह जी एवं महापौर श्री आलोक शर्मा जी अनेक मंत्रियो एवं शहर के अनेक गणमान्य नागरिकों सहित नंगे पाव, हबीबगंज तक साथ चलकर
            आये और धर्मलाभ लिया.आचार्य भगवन के दीक्षाकाल में प्रथम बार ऐसा हुआ कि देश की किसी राजधानी को पावनवर्षा योग का सौभाग्य प्राप्त हुआ. महानसंत आचार्य गुरुवर के वर्षायोग से इस स्थान का महत्त्व कई गुना बढ़ गया जब पहली बार, माननीय प्रधानमंत्री श्री
            नरेन्द्र मोदी जी एवं वर्तमान राष्ट्रपति श्री रामनाथ कोविंद जी ने यहाँ आकर ग़ुरुवर का आशीर्वाद लिया. इस अवधि में आचार्य श्री के सानिध्य में अनेक कार्यक्रम हुये जैसे तूर्यनाद, हिंदी सम्मेलन, हथकरघा प्रदर्शनी एवं प्रशिक्षण, वकीलों, डाक्टरों, इंजीनियरो
            के समूहों की गोष्ठियाँ आदि |
        </li>
    </ul>
    <ul>
        <li>
            मंदिर निर्माण पूर्ण होते ही प्रांगण में हिंदी भवन, हथकरघा भवन, धर्मशाला, विद्यार्थियों के लिए आवासीय एवं गैर आवासीय उच्चस्तरीय शिक्षण प्रशिक्षण व्यवस्था, आयुर्वेदिक दवाखाना, होम्योपैथी दवाखाना एवं एलोपैथी,क्लीनिक का निर्माण प्रारंभ हो जायेगा. ट्रस्ट के
            द्वारा ही वर्तमान में अनुशासन नाम से प्रशासनिक एवं न्याययिक सेवाओं की तैयारी कर रहे समाज के युवाओं का प्रशिक्षण संचालित है. साथ ही समाज सेवा की भावना से ओतप्रोत, उच्च शिक्षा प्राप्त भैयाजी द्वारा हथकरघा शोरूम भी संचालित हो रहा है |

        </li>
    </ul>

</div>